@import '../../styles/animate.scss';
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  .loadingText {
    margin-left: 10px;
  }
  .loader:local {
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-color: $mainColor;
    border-style: solid;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    @include animate-spin(0.8s);
    &.white {
      border-color: white;
    }
  }
}
