@import '@/styles/variable.scss';
@import '@/styles/color.scss';
@import '@/styles/space.scss';
@import '@/styles/animate.scss';
@import '@/styles/antdreset.scss';

body {
  background: rgb(250, 251, 252);
  margin: 0;
  padding: 0;
  font-size: 14px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $fontColor;
  }
  .center {
    text-align: center;
  }
}

#root {
  min-height: 100vh;
  margin: 0 auto;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}

.flex {
  display: flex;
  align-items: center;
  > div {
    flex: 1;
  }
  > .right {
    text-align: right;
  }
  > .center {
    text-align: center;
  }
}
