@import '@/styles/mixin.scss';

// 页脚高度
$footerHeight: 110px;
// 页头高度
$headerHeight: 80px;

// 绿色
$green: green;
// 红色
$red: red;

// 主色调
$mainColor: blue;

// 按钮色
$buttonColor: $mainColor;
// 按钮色 disabled
$buttonDisabledColor: #e4e5ee;
// 文字色
$fontColor: #070847;
